{% extends "layouts/layout.html" %}

{% block title %}Listado de Mezclas Familiares{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
           <h1 class="mb-4">{{ t_menu["titulo_composicion"] }}</h1>
          <button type="button" class="btn btn-success mb-3" id="btn-abrir-modal-agregar">{{ t_menu["agregar"] }}</button>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>{{ t_menu["nombre"] }}</th>
                <th>{{ t_menu["descripcion"] }}</th>   
                <th>{{ t_menu["entidad"] }}</th> 
                <th>{{ t_menu["estado"] }}</th>
                <th>{{ t_menu["acciones"] }}</th>
              </tr>
            </thead>

          <tbody id="tabla-mix-familiari">
            {% for mezcla in mezclas %}
            <tr>
              <td>{{ mezcla.id }}</td>
              <td>{{ mezcla.nombre }}</td>
              <td>{{ mezcla.descripcion }}</td>             
              <td>{{ mezcla.entidad.nombre if mezcla.entidad else '' }}</td>
              <td>{{ mezcla.estado }}</td>
              <td>
                <button class="btn btn-sm btn-warning btn-componente-quimico-agregado" data-id="{{ mezcla.id }}">🧱</i> </button>
          
                <button class="btn btn-sm btn-warning btn-editar-agregado" data-id="{{ mezcla.id }}">✏️</button>
                <button class="btn btn-sm btn-danger btn-eliminar-agregado" data-id="{{ mezcla.id }}">🗑️</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>

{% include 'pantalla_agregados/modals/modal_agregar_agregado.html' %}

{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/autoDensidad/agregados/crud_agregados.js') }}"></script>
{% endblock %}