{% extends "layouts/layout.html" %}

{% block title %}Listado de Mezclas Familiares{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="mb-4">Composizione dell'aggregati</h1>
      <button type="button" class="btn btn-success mb-3" id="btn-abrir-modal-agregar">Aggiungi </button>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Lingua</th>                
            <th>Stato</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody id="tabla-mix-familiari">
          {% for famiglia in mix_familiari %}
          <tr>
            <td>{{ famiglia.id }}</td>
            <td>{{ famiglia.nome }}</td>
            <td>{{ famiglia.descrizione }}</td>
            <td>{{ famiglia.idioma }}</td>                   
            <td>{{ famiglia.estado }}</td>
            <td>
              <button class="btn btn-warning btn-sm" onclick="modificarMix({{ famiglia.id }})">Modifica</button>
              <button class="btn btn-danger btn-sm" onclick="eliminarMix({{ famiglia.id }})">Elimina</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include 'pantalla_agregados/modals/modal_agregar_agregado.html' %}


<script src="{{ url_for('static', filename='js/autoDensidad/agregados/crud_agregados.js') }}"></script>
{% endblock %}
