<!-- templates/AutenticacionLogin/recuperar_form.html -->
<!DOCTYPE html>
<html lang="{{ t.lang or 'es' }}">
<head>
  <meta charset="UTF-8">
  <title>{{ t.recuperar_titulo }} | Gervasi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/autenticacion/login.css') }}">
</head>
<body>

  <div class="login-container">
    <img src="{{ url_for('static', filename='img/logo_gervasi.png') }}" alt="Gervasi Logo" class="logo-login" />

    <h2>{{ t.recuperar_titulo }}</h2>
    <p>{{ t.recuperar_subtitulo }}</p>

    <form method="POST">
      <input type="email" name="correo" placeholder="Correo electrónico" required />
      <button type="submit"  id="btn-submit">{{ t.enviar }}</button>
    </form>

    <a href="/" class="btn-volver">{{ t.entrar or "Volver al login" }}</a>
  </div>

</body>
</html>

