{% extends "layouts/layout.html" %}

{% block title %}Listado de Trabajos{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-10">
            <div class="titulo-maquinas">
                <h1>Macchine di Database</h1>
            </div>
            <button type="button" class="btn btn-primary" id="btn-abrir-modal">
                <i class="fas fa-server me-2"></i> Aggiungi macchina
              </button>

     
          <div class="table-responsive"></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Account utente</th>                        
                        <th>Nome</th>
                        <th>Percorso di origine</th>
                        
                        <th>Nome del database</th>                       
                        <th>Settore</th>
                        <th>Stato</th>
                        <th>Potenza</th>
                        <th>Data</th>
                        <th>Impostazioni</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                
                <tbody id="tabla-maquinas">
                    {% for maquina in maquinas %}
                    <tr>
                        <td>{{ maquina.id }}</td>
                        <td>{{ maquina.userCuenta }}</td>                      
                        <td>{{ maquina.nombre }}</td>
                        <td>{{ maquina.ruta }}</td>                     
                        <td>{{ maquina.nombreDb }}</td>                       
                        <td>{{ maquina.sector }}</td>
                        <td>{{ maquina.estado }}</td>
                        <td>{{ maquina.potencia }}</td>
                        <td>{{ maquina.fecha.strftime('%Y-%m-%d %H:%M') if maquina.fecha else '' }}</td>
                        <td>
                          {% if maquina.setting and 'modulos' in maquina.setting %}
                              {{ maquina.setting.modulos | join(', ') }}
                          {% else %}
                              <em>senza moduli</em>
                          {% endif %}
                      </td>
                      
                      <td>
                        <div class="d-flex align-items-center gap-2">
                          <button type="button" class="btn btn-warning btn-sm btn-abrir-modal-modificar"
                                  data-maquina-id="{{ maquina.id }}"
                                  data-user-cuenta="{{ maquina.userCuenta }}"
                                  data-nombre="{{ maquina.nombre }}"
                                  data-ruta="{{ maquina.ruta }}"
                                  data-nombre-db="{{ maquina.nombreDb }}"
                                  data-sector="{{ maquina.sector }}"
                                  data-estado="{{ maquina.estado }}"
                                  data-potencia="{{ maquina.potencia }}"
                                  data-setting='{{ maquina.setting | tojson | safe }}'>
                              Modificare
                          </button>

                          <button type="button"
                                  class="btn btn-danger btn-sm btn-abrir-modal-eliminar"
                                  data-maquina-id="{{ maquina.id }}">
                              Eliminare
                          </button>

                        </div>
                      </td>

                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
           </div>
        </div>
    </div>
</div>


<!-- Modal Agregar Máquina -->
<div class="modal fade" id="crud-modal-agregar" tabindex="-1" aria-labelledby="crud-modal-agregar-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="crud-modal-agregar-label">Aggiungi macchina</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
  
        <div class="modal-body">
          <form id="form-agregar-maquina">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">Account utente</label>
                <input type="text" class="form-control" name="userCuenta" required>
              </div>
              <!--  <div class="col-md-6 mb-3">
                <label class="form-label">Contraseña Cuenta</label>
                <input type="password" class="form-control" name="passwordCuenta" required>
              </div>
             <div class="col-md-6 mb-3">
                <label class="form-label">Account Cuenta</label>
                <input type="text" class="form-control" name="accountCuenta">
              </div>-->
              <div class="col-md-6 mb-3">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" name="nombre">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Itinerario</label>
                <input type="text" class="form-control" name="ruta">
              </div>
             
              <div class="col-md-6 mb-3">
                <label class="form-label">Nome DB</label>
                <input type="text" class="form-control" name="nombreDb">
              </div>
            <!--   <div class="col-md-6 mb-3">
                <label class="form-label">Selector</label>
                <input type="text" class="form-control" name="selector">
              </div>-->
              <div class="col-md-6 mb-3">
                <label class="form-label">Settore</label>
                <input type="text" class="form-control" name="sector">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Stato</label>
                <input type="text" class="form-control" name="estado">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Potenza</label>
                <input type="text" class="form-control" name="potenza">
              </div>
         
              


              <div class="mb-3">
                <label class="form-label">Moduli abilitati</label>
                <select class="form-select" name="modulos" id="modulos-select" multiple>
                  <!-- Se llenará dinámicamente -->
                </select>
              
                <input type="text" id="nuevo-modulo" class="form-control mt-2" placeholder="Aggiungi nuovo modulo">
                <button type="button" class="btn btn-sm btn-secondary mt-1" id="btn-agregar-modulo">Aggiungi</button>
                
                <small class="form-text text-muted">Utilizzare Ctrl o Maiusc per selezionare più moduli.</small>
              </div>
              

            </div>
  
            <input type="hidden" id="user-id" name="user_id">
          </form>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancellare</button>
          <button type="button" class="btn btn-primary" id="confirmar-agregar">Aggiungi macchina</button>
        </div>
      </div>
    </div>
  </div>
  








<div class="modal fade" id="crud-modal-modificar" tabindex="-1" aria-labelledby="crud-modal-modificar-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crud-modal-modificar-label">Modifica macchina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="form-modificar-maquina">
                    <input type="hidden" id="maquina-id-modificar" name="id">
                    
                    <input type="text" class="form-control mb-2" name="userCuenta" placeholder="Usuario Cuenta">
                    <input type="text" class="form-control mb-2" name="nombre" placeholder="Nombre">
                    <input type="text" class="form-control mb-2" name="ruta" placeholder="Ruta">
                    <input type="text" class="form-control mb-2" name="nombreDb" placeholder="Nombre DB">
                    <input type="text" class="form-control mb-2" name="sector" placeholder="Sector">
                    <input type="text" class="form-control mb-2" name="estado" placeholder="Estado">
                    <input type="text" class="form-control mb-2" name="potencia" placeholder="Potenza">
                    <textarea class="form-control mb-2" name="setting" placeholder='Settings (JSON)'></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancellare</button>
                <button type="button" class="btn btn-warning" id="confirmar-modificar">Modificare</button>
            </div>
        </div>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="modal-eliminar-crud" tabindex="-1" aria-labelledby="modal-eliminar-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-eliminar-label">Elimina macchina</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="maquina-id-eliminar-crud">

        
        <p>Sei sicuro di voler eliminare questa macchina?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancellare</button>
        <button type="button" class="btn btn-danger" id="confirmar-eliminar">Eliminare</button>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/maquinas/crud_maquinas.css') }}">

<script src="{{ url_for('static', filename='js/maquinas/crud_maquinas.js') }}"></script>
{% endblock %}