{% extends "layouts/layout.html" %}

{% block title %}Listado de Trabajos{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-10">
            <div class="titulo-maquinas">
                <h1>Macchine di Database</h1>
            </div>
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-agregar">
                <i class="fas fa-server me-2"></i> Agregar Máquina
            </button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Cuenta</th>                        
                        <th>Nombre</th>
                        <th>Ruta Origen</th>
                        <th>Nombre DB</th>                       
                        <th>Sector</th>
                        <th>Estado</th>
                        <th>Potenza</th>
                        <th>Fecha</th>
                        <th>Settings</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                <tbody id="tabla-maquinas">
                    {% for maquina in maquinas %}
                    <tr>
                        <td>{{ maquina.id }}</td>
                        <td>{{ maquina.userCuenta }}</td>                      
                        <td>{{ maquina.nombre }}</td>
                        <td>{{ maquina.ruta }}</td>
                        <td>{{ maquina.nombreDb }}</td>                       
                        <td>{{ maquina.sector }}</td>
                        <td>{{ maquina.estado }}</td>
                        <td>{{ maquina.potencia }}</td>
                        <td>{{ maquina.fecha.strftime('%Y-%m-%d %H:%M') if maquina.fecha else '' }}</td>
                        <td>
                          {% if maquina.setting and 'modulos' in maquina.setting %}
                              {{ maquina.setting.modulos | join(', ') }}
                          {% else %}
                              <em>Sin módulos</em>
                          {% endif %}
                      </td>
                      
                        <td>
                            <button type="button" class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-modificar"
                                data-maquina-id="{{ maquina.id }}"
                                data-user-cuenta="{{ maquina.userCuenta }}"
                             
                                data-nombre="{{ maquina.nombre }}"
                                data-ruta="{{ maquina.ruta }}"
                                data-nombre-db="{{ maquina.nombreDb }}"
                              
                                data-sector="{{ maquina.sector }}"
                                data-estado="{{ maquina.estado }}"
                                data-potencia="{{ maquina.potencia }}"
                               data-setting='{{ maquina.setting | tojson | safe }}'
                                >
                                Modificar
                            </button>

                            <button type="button"
                                    class="btn btn-sm btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-eliminar"
                                    data-maquina-id="{{ maquina.id }}">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
</div>


<!-- Modal Agregar Máquina -->
<div class="modal fade" id="modal-agregar" tabindex="-1" aria-labelledby="modal-agregar-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="modal-agregar-label">Agregar Máquina</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
  
        <div class="modal-body">
          <form id="form-agregar-maquina">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">Usuario Cuenta</label>
                <input type="text" class="form-control" name="userCuenta" required>
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Contraseña Cuenta</label>
                <input type="password" class="form-control" name="passwordCuenta" required>
              </div>
           <!--    <div class="col-md-6 mb-3">
                <label class="form-label">Account Cuenta</label>
                <input type="text" class="form-control" name="accountCuenta">
              </div>-->
              <div class="col-md-6 mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Ruta</label>
                <input type="text" class="form-control" name="ruta">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Nombre DB</label>
                <input type="text" class="form-control" name="nombreDb">
              </div>
            <!--   <div class="col-md-6 mb-3">
                <label class="form-label">Selector</label>
                <input type="text" class="form-control" name="selector">
              </div>-->
              <div class="col-md-6 mb-3">
                <label class="form-label">Sector</label>
                <input type="text" class="form-control" name="sector">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Estado</label>
                <input type="text" class="form-control" name="estado">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Potenza</label>
                <input type="text" class="form-control" name="potenza">
              </div>
              <div class="mb-3">
                <label class="form-label">Módulos Habilitados</label>
                <select class="form-select" name="modulos" multiple>
                  <option value="history">History</option>
                  <option value="jobs">Jobs</option>
                  <option value="settings">Settings</option>
                  <option value="statistics">Statistics</option>
                  <option value="logs">Logs</option>
                </select>
                <small class="form-text text-muted">Usá Ctrl o Shift para seleccionar múltiples módulos.</small>
              </div>
              
            </div>
  
            <input type="hidden" id="user-id" name="user_id">
          </form>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="confirmar-agregar">Agregar Máquina</button>
        </div>
      </div>
    </div>
  </div>
  








<div class="modal fade" id="modal-modificar" tabindex="-1" aria-labelledby="modal-modificar-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-modificar-label">Modificar Máquina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="form-modificar-maquina">
                    <input type="hidden" id="maquina-id-modificar" name="id">
                    
                    <input type="text" class="form-control mb-2" name="userCuenta" placeholder="Usuario Cuenta">
                    <input type="text" class="form-control mb-2" name="nombre" placeholder="Nombre">
                    <input type="text" class="form-control mb-2" name="ruta" placeholder="Ruta">
                    <input type="text" class="form-control mb-2" name="nombreDb" placeholder="Nombre DB">
                    <input type="text" class="form-control mb-2" name="sector" placeholder="Sector">
                    <input type="text" class="form-control mb-2" name="estado" placeholder="Estado">
                    <input type="text" class="form-control mb-2" name="potencia" placeholder="Potenza">
                    <textarea class="form-control mb-2" name="setting" placeholder='Settings (JSON)'></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" id="confirmar-modificar">Modificar</button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="modal-eliminar" tabindex="-1" aria-labelledby="modal-eliminar-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-eliminar-label">Eliminar Máquina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="maquina-id-eliminar">

                <p>¿Estás seguro que quieres eliminar esta máquina?</p>
                <input type="hidden" id="maquina-id-eliminar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmar-eliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/maquinas/crud_maquinas.css') }}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="{{ url_for('static', filename='js/maquinas/crud_maquinas.js') }}"></script>
{% endblock %}