<!-- Modal Agregar Malla -->
<div class="modal fade" id="modal-agregar-malla" tabindex="-1" aria-labelledby="modalAgregarMallaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="form-agregar-malla">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">➕ {{ t_menu['agregar'] }} {{ t_menu["malla"] }}</h5>
          <button type="button" class="btn-close" onclick="cerrarModalAgregarMallas()" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre_comercial" class="form-label">{{ t_menu['nombre_comercial'] }}</label>
            <input type="text" class="form-control" id="nombre_comercial" name="nombre_comercial" required>
          </div>
          <div class="mb-3">
            <label for="diametro_mm" class="form-label">{{ t_menu['diametro'] }}</label>
            <input type="number" step="0.001" class="form-control" id="diametro_mm" name="diametro_mm" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{{ t_menu['guardar_cambios'] }}</button>
          <button type="button" class="btn btn-secondary" onclick="cerrarModalAgregarMallas()">{{ t_menu['cerrar'] }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
