{% extends "layouts/layout.html" %}

{% block title %}{{ t_menu["titulo_componentes_quimicos"] }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="titulo-maquinas">
        <h1>{{ t_menu["titulo_componentes_quimicos"] }}</h1>
      </div>

      <button type="button" class="btn btn-primary" id="btn-abrir-modal-componente">
        <i class="fas fa-plus-circle me-2"></i> {{ t_menu["agregar"] }} {{ t_menu["componente"] }}
      </button>

      <div class="table-responsive mt-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>{{ t_menu["nombre"] }}</th>
              <th>{{ t_menu["pais"] }}</th>
              <th>{{ t_menu["descripcion"] }}</th>
              <th>{{ t_menu["tipo_mezcla"] }}</th>
              <th>{{ t_menu["materia_forma"] }}</th>
              <th>{{ t_menu["acciones"] }}</th>
            </tr>
          </thead>
          <tbody id="tabla-componentes">
            {% for componente in componentes %}
            <tr data-fila-id="{{ componente.id }}">
              <td>{{ componente.id }}</td>
              <td>{{ componente.nombre }}</td>
              <td>{{ componente.pais }}</td>
              <td>{{ componente.descripcion }}</td>
              <td>{{ componente.tipo_mezcla.nombre }}</td>
              <td>{{ componente.materia_forma_forma }}</td>
              <td>
                <button type="button"
                        class="btn btn-danger btn-sm btn-abrir-modal-tipoMezcla-componente"
                        data-id="{{ componente.id }}">
                  {{ t_menu["agregar"] }} {{ t_menu["tipo_mezcla"] }}
                </button>
                <button type="button"
                        class="btn btn-danger btn-sm btn-abrir-modal-materia-forma"
                        data-id="{{ componente.id }}">
                  {{ t_menu["agregar"] }} {{ t_menu["materia_forma"] }}
                </button>
                <div class="d-flex align-items-center gap-2 mt-1">
                  <button type="button"
                          class="btn btn-warning btn-sm btn-abrir-modal-modificar-componente"
                          data-id="{{ componente.id }}"
                          data-nombre="{{ componente.nombre }}"
                          data-pais="{{ componente.pais }}"
                          data-descripcion="{{ componente.descripcion }}"
                          data-tipo_mezcla_id="{{ componente.tipo_mezcla_id }}"
                          data-tipo_materia_forma_id="{{ componente.materia_forma_id }}"
                          data-tipo_mezcla_nome="{{ componente.tipo_mezcla.nombre }}">
                    {{ t_menu["modificar"] }}
                  </button>

                  <button type="button"
                          class="btn btn-danger btn-sm btn-abrir-modal-eliminar-componente"
                          data-id="{{ componente.id }}">
                    {{ t_menu["eliminar"] }}
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% include 'pantalla_componente_quimico/modals/modal_agregar_comp_quimico.html' %}
{% include 'pantalla_componente_quimico/modals/modal_modificar_comp_quimico.html' %}
{% include 'pantalla_componente_quimico/modals/modal_tipo_mezla.html' %}
{% include 'pantalla_componente_quimico/modals/modal_materia_forma.html' %}

<script src="{{ url_for('static', filename='js/autoDensidad/comp_quimico/crud_comp_quimico.js') }}"></script>
<script src="{{ url_for('static', filename='js/autoDensidad/comp_quimico/abre_modal_materia_forma.js') }}"></script>

{% endblock %}
