{% extends "layouts/layout.html" %}

{% block title %}{{ t_menu["titulo_simulador_fuller"] }}{% endblock %}

{% block content %}
<div class="container">
  <h3> {{ t_menu["simulador_titulo"] }}</h3>
<button type="button" class="btn btn-secondary mb-3" onclick="volverAFullerMultiple()">
  🔙 {{ t_menu["volver"] or "Volver" }}
</button>

  <form id="simulador-form">
    {% for nombre in productos %}
    <div>
      <label for="{{ nombre }}">{{ nombre }} (%)</label>
      <input type="number" 
             class="campoProporcion" 
             name="{{ nombre }}" 
             data-original="{{ nombre }}"
             min="0" max="100" step="0.01" value="0">
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-danger mt-3" style="margin-top: 1.5rem;">
      {{ t_menu["simular_mezcla"] }}
    </button>
  </form>

  <div id="resultadoSimulador" class="mt-4" style="margin-top: 1.5rem;"></div>

  <img id="plotFuller" style="max-width:100%;display:none" />

</div>
<script src="{{ url_for('static', filename='js/autoDensidad/densidadFuller.js') }}"></script> 
<script src="{{ url_for('static', filename='js/i18n.js') }}"></script>
<script src="{{ url_for('static', filename='js/simuladorDosificacion/simuladorDosificacion.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/autoDensidad/simuladorDosificacion.css') }}">

{% endblock %}



