<div id="modal-modificar-usuario" style="display:none;" class="modal fade">
  <div class="modal-dialog modal-lg">
    <form id="form-modificar-usuario">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">✏️ Modifica utente</h5>
          <button type="button" id="btn-cerrar-modal-modificar" class="btn-close">×</button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" id="mod-id">
          <input type="email" class="form-control mb-2" name="correo_electronico" id="mod-email" required>
          <input type="text" class="form-control mb-2" name="roll" id="mod-roll">
          <select class="form-control mb-2" name="activo" id="mod-activo">
            <option value="1">Risorsa</option>
            <option value="0">Oziare</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Salva modifiche</button>
          <button type="button" id="btn-cancelar-modificar" class="btn btn-secondary">Cancellare</button>
        </div>
      </div>
    </form>
  </div>
</div>
