<!-- Modal modal-tipo-mezla -->
<div class="modal fade" id="modal-tipo-mezla" tabindex="-1" aria-labelledby="modalModificarComponenteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecciona Tipo de Mezcla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <select id="select-tipo-mezcla" class="form-select"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-guardar-tipo-mezcla">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
