<!-- Modal Agregar Componente Químico -->
<div class="modal fade" id="modal-agregar-componente" tabindex="-1" aria-labelledby="modalAgregarComponenteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="form-agregar-componente">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">➕ {{ t_menu["agregar"] }} {{ t_menu["componente"] }}</h5>
          <button type="button" class="btn-close" onclick="cerrarmodalAgregarComponente()" aria-label="{{ t_menu['cerrar'] }}"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre" class="form-label">{{ t_menu["nombre"] }}</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
          <div class="mb-3">
            <label for="pais" class="form-label">{{ t_menu["pais"] }}</label>
            <input type="text" class="form-control" id="pais" name="pais">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">{{ t_menu["descripcion"] }}</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="2"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{{ t_menu["guardar_cambios"] }}</button>
          <button type="button" class="btn btn-secondary" onclick="cerrarmodalAgregarComponente()">{{ t_menu["cerrar"] }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
